@use "../../utils.module.scss" as *;
$border-radius: 0.5rem;

.personalCard {
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--Dark-blue);
  border-radius: $border-radius;
  @include breakPoint(md) {
    height: 400px;
  }
}
.upperSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: $border-radius;
  background-color: var(--Blue);
  @include breakPoint(md) {
    height: 75%;
    flex-direction: column;
    padding: 1rem;
  }
}
.imgWrapper {
  width: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  @include breakPoint(md) {
    align-self: start;
  }
}
.img {
  object-fit: contain;
  object-position: center;
}
.reportFor {
  font-size: 0.75rem;
}
.name {
  text-transform: capitalize;
}

.downSection {
  flex: 1;
  padding: 1rem;
  border-radius: $border-radius;
  background-color: var(--Dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include breakPoint(md) {
    flex-direction: column;
    align-items: start;
  }
}
